<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">About Me</a></li>
				<li><a href="/webdev">Web Development</a></li>
				<li><a href="/aiml">AI/Machine Learning</a></li>
				<li><a href="/dataviz">Data Visualization</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/art">Art/3D Modeling</a></li>
				<li><a href="/resume">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">

        {{ content }}

		</div>
		<footer>
    		<ul>
				<li>Connect with me:</li>
        		<li><a href="mailto:vivianbelleyoung@gmail.com">E-mail</a></li>
				<li><a href="https://www.linkedin.com/in/vivian-belle-young">LinkedIn</a></li>
        		<li><a href="https://github.com/vivianbyoung">Github</a></li>
			</ul>
		</footer>
	</body>
</html>