<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/webdev">Web Development</a></li>
				<li><a href="/aiml">AI/Machine Learning</a></li>
				<li><a href="/art">Art</a></li>
    		</ul>
		</nav>
		<div class="container">

        {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:vivianbelleyoung@gmail.com">email</a></li>
        		<li><a href="https://github.com/vivianbyoung">github.com/vivianbyoung</a></li>
			</ul>
		</footer>
	</body>
</html>